/*
 * Copyright (c) 2020 Ryan Cross
 *
 * SPDX-License-Identifier: MIT
 */

#include "sofle.dtsi"

&kscan0 {
    col-gpios
        = <&pro_micro 19 GPIO_ACTIVE_HIGH>   /* col 0 - A5  - P1.11 - pad 111 */
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>   /* col 1 - A4  - P1.15 - pad 115 */
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>   /* col 2 - A1  - P0.29 - pad 029 */
        , <&pro_micro 14 GPIO_ACTIVE_HIGH>   /* col 3 - A0  - P0.31 - pad 031 */
        , <&pro_micro 16 GPIO_ACTIVE_HIGH>   /* col 4 - A2  - P0.02 - pad 002 */
        , <&pro_micro 0  GPIO_ACTIVE_HIGH>   /* col 5 - D0  - P0.08 - ¿disponible? */
        ;
};

&left_encoder {
    status = "okay";
};
/ {
    chosen {
      zmk,battery = &vbatt;
    };

    vbatt: vbatt {
        compatible = "zmk,battery-nrf-vddh";
    };
};
